/* Font oswald import */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

img {
  width: 100%;
}
/* For header  */
.mainHeader {
  background-color: #997b7b;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}
.mainHeader .nav-link {
  color: #fff;
  font-weight: 600;
  padding: 0px 13px !important;
}
.dropdown {
  font-family: "Space Grotesk", sans-serif;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Remove the gap so it doesn't close */
}
.mainHeader .navbar-nav .fa {
  color: #fff;
  font-size: 24px;
}
.mainHeader .navbar-nav .fa:hover {
  color: #0dcaf0;
}
.mainHeader .navbar-nav .nav-link.active {
  color: #0dcaf0;
}
.bgblur {
  /* background-color: rgba(255, 255, 255, 0.21); */
  background-color: rgba(2, 1, 1, 0.21);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

/* for flag and other option  */
.vodiapicker {
  display: none;
}
#a {
  padding-left: 0;
  margin: 0 !important;
}

#a li {
  list-style: none;
  cursor: pointer;
  text-align: center;
}
#a li:hover {
  background-color: #f4f3f3;
}
#a li img {
  margin: 5px;
}

.b {
  display: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
  position: absolute;
  z-index: 1000;
}
.open {
  display: block !important;
}
.btn-select {
  width: 100%;
  max-width: 350px;
  height: 34px;
  border-radius: 5px;
  background-color: #0dcaf0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}
.btn-select li {
  list-style: none;
}
.lang-select span {
  color: #000;
}
.btn-select:focus {
  outline: none;
}
.lang-select {
  margin-left: 50px;
  position: relative;
}
.lang-select img {
  margin-left: 20px;
  width: 28px;
  border-radius: 4px;
}
.social a {
  margin: 0 5px;
  font-size: 19px;
  text-decoration: none;
  width: 27px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}
.social a:first-child .fa {
  color: rgb(103, 232, 103);
}
.social a .fa {
  color: rgb(255, 255, 255);
}
.mainHeader .navbar-nav a:hover {
  color: #0dcaf0;
}
.mainHeader .navbar-nav a.dropdown-item:hover {
  color: #0dcaf0;
  background: #997b7b;
}
.mainHeader .navbar-nav a.dropdown-item {
  font-weight: 500;
}
.mainHeader i.fa.fa-bars {
  color: #fff;
  font-size: 25px;
}
.HeaderTop {
  border-bottom: 1px solid #8b8b8b;
  padding: 2px 0;
}
.mainHeader ul.dropdown-menu {
  transform: translateY(70px);
  opacity: 0;
}
.mainHeader .show ul.dropdown-menu {
  transform: translateY(0px);
  transition: all 0.2s ease-out;
  opacity: 1;
}

#whatsappIcon {
  position: fixed;
  bottom: -31px;
  left: -25px;
  color: white;
  text-align: center;
  font-size: 24px;
  display: none;
  z-index: 999;
  background-color: #0dcaf000 !important;
}

#whatsappIcon i {
  position: relative;
  margin: 50px;
}

#whatsappIcon i::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  animation: growAndBanish 1.2s infinite ease-in-out;
  z-index: -1;
  top: 0;
  left: 0;
}
#whatsappIcon i {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  display: block;
  z-index: 100;
  line-height: 50px;
}

@keyframes growAndBanish {
  0% {
    opacity: 1;
  }
  25% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
    transform: scale(1.4);
  }
  75% {
    opacity: 0.3;
    transform: scale(1.8);
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

#goTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  background-color: #0dcaf0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 

For slider section 

*/
.heroSlider {
  overflow-x: hidden;
}
.heroSlider .content {
  width: 100%;
  position: relative;
}
.heroSlider .content .images {
  height: 400px;
  width: 100%;
}
.heroSlider .content .images img {
  height: 100%;
  width: 100%;
}
.heroSlider .btm-slides {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.heroSlider .btm-slides span {
  height: 15px;
  width: 50px;
  border: 2px solid white;
  margin: 0 3px;
  cursor: pointer;
}
.heroSlider .sliders {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  cursor: pointer;
}
.heroSlider .right {
  right: 0;
}
.heroSlider .sliders span {
  line-height: 41px;
  font-size: 35px;
  color: white;
}

/*

After slider 

*/
.afterSlider h2 {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.tourHcontent a,
.rideforduneh2 {
  font-family: "Oswald", Sans-serif;
  font-size: 37px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.9px;
  color: #000;
  display: block;
}
.tourHcontent span {
  font-family: "Poppins", Sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: -0.2px;
  color: #414141;
  padding-left: 2px;
}
.aftersliderimg {
  width: 100%;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #000000;
  border-radius: 20px 20px 20px 20px;
}
.tourHcontent i {
  color: #000;
}
.tourHcontent h6 {
  color: #000000;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
  margin: 15px 0;
}
/*

kpc

*/
.kpc {
  background-color: #000;
}
.kpc img {
  display: block;
  margin-bottom: 15px;
}
.kpc span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.kpc i {
  color: #0dcaf0;
  font-size: 16px;
  font-weight: 600;
}

/*

uncover 

*/
.uncover h2 a {
  font-family: "Oswald", Sans-serif;
  font-size: 37px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.9px;
  color: #000;
}
.uncover p a,
.tourA {
  color: #000;
  font-weight: bold;
}
.uncover p a:hover,
.tourA:hover {
  color: #0dcaf0;
}

/*

rating 

*/
.rating h1,
.rating span {
  font-size: 69px;
  font-weight: 600;
  color: #0dcaf0;
}
.rating h6 {
  color: #fff;
  font-size: 18px;
}
.rating-content {
  border-radius: 10px;
}
.experience-count {
  opacity: 0;
  transition: opacity 1s;
}

.experience-count.visible {
  opacity: 1;
}

/*

uncover after  

*/
.un-after .owl-theme .owl-dots {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  position: relative;
}
.un-after .owl-theme .owl-nav {
  position: absolute;
  top: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.un-after .owl-theme .owl-nav button {
  font-size: 40px;
  color: #fff;
}

/*

contact section 

*/
.contact {
  background-color: #f5f5f5;
}

.contact a.loc {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 5px 0;
}
.contactFooter i {
  font-size: 20px;
}
.contactFooter {
  margin: 5px 0;
}
.contact iframe {
  width: 100%;
}
.dftbtn {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #96e6f2;
  background-color: #000000;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 0;
  width: 220px;
  text-align: center;
}

/* 

trusted

*/
.trusted {
  background-color: #f5f5f5;
  z-index: 1;
}

/*

experience section 

*/
.experience {
  background-color: #f5f5f5;
}
.ex-content i {
  font-size: 40px;
}
.ex-content div:first-child {
  min-width: 50px;
}
/* glrtfirst */
.glrtfirst .glrtfirstmon {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.glrtfirst .pwr {
  width: 200px;
  margin: 10px 0;
}
img.rounded-circle.forGuest {
  width: 65px;
}
.for-rating-para {
  height: 150px;
  text-align: justify;
  overflow-y: scroll;
  padding-right: 5px;
}
.for-rating-para::-webkit-scrollbar {
  width: 5px;
}
.for-rating-para::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle */

/*

footer

*/
.footer p {
  text-align: left;
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.7em;
  letter-spacing: 0px;
  margin-top: 10px;
}
.icon-footer i {
  background-color: #000000;
  border: 2px solid #96e6f2;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.sub-footer a {
  color: #f2f2f2;
  display: block;
  margin: 5px 0;
}
.foot-last a {
  width: 60px;
}
.foot-last span {
  color: #fff;
  display: flex;
  align-items: center;
}
/*



Activety page 



*/
.activityMainbaner {
  background-image: url(../image/IMG_1338-scaled.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: block;
}
.activityMainbaner .forlayer {
  background-color: transparent;
  background-image: linear-gradient(360deg, #0d09257d 50%, #030627d4 100%);
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  padding-top: 20px;
}
.activityMainbaner .forlayer a {
  font-size: 12px;
  color: #96e6f2;
  font-weight: bold;
}
.activityMainbaner .forlayer span {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.activityMainbaner .forlayer h1 {
  color: #fff;
  font-family: "Oswald", Sans-serif;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: 1px;
}
.activityAfterbaner .tourHcontent a,
.rideforduneh2 {
  font-size: 65px;
}
.activityAfterbaner .tourHcontent span {
  font-size: 15px;
  color: #000;
}
.book-btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-size: 20px;
  color: white;
  background-color: #96e6f2;
  border: 2px solid #000;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
}

.book-btn:hover {
  background-color: #000;
}
.book-btn:hover span {
  color: #fff !important;
}

.book-btn span {
  font-family: "Roboto", Sans-serif;
  display: block;
  position: absolute;
  font-weight: bold;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.book-btn .hover-content {
  transform: translateY(100%);
  opacity: 0;
}

.book-btn:hover .default-content {
  transform: translateY(-100%);
  opacity: 0;
}

.book-btn:hover .hover-content {
  transform: translateY(0);
  opacity: 1;
}
/* Explore section  */
.explore-content {
  position: relative;
}
.explore h1 {
  color: #000000;
  font-family: "Oswald", Sans-serif;
  font-size: 73px;
  font-weight: 900;
  letter-spacing: 1px;
}
.explore-content img {
  height: 250px;
}
.explore-content h4 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff00;
}
.explore-content:hover h4 {
  color: #000;
  background: #96e6f2;
  transition: 0.5s ease;
}

/*



tour page


*/
.accordion-tour h2.accordion-header button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 10px;
}
.accordion-tour .accordion-item {
  border-radius: 7px !important;
  margin: 10px 0;
}
/*
 tour sub page dunny buggy 
 */
.activityMainbaner.dune-buggy {
  background-image: url(../../assets/image/B0427EEB-4C38-44FB-BCC1-BE689F50EC83-1-scaled.webp) !important;
}
.dune-buggy .tourHcontent a,
.rideforduneh2 {
  font-size: 37px;
}
.dune-buggy .tourHcontent h2 {
  color: #313131;
  font-family: "Oswald", Sans-serif;
  /* font-size: 38px; */
  font-weight: 900;
  letter-spacing: 1px;
}
/*
 tour sub page quad-biking
 */
.activityMainbaner.quad-biking {
  background-image: url(../../assets/image/DSC04726-scaled.webp) !important;

  background-position: 0px -490px;
}
.dune-buggy .tourHcontent a,
.rideforduneh2 {
  font-size: 37px;
}
.dune-buggy .tourHcontent h2 {
  color: #313131;
  font-family: "Oswald", Sans-serif;
  /* font-size: 38px; */
  font-weight: 900;
  letter-spacing: 1px;
}
/* 
Dirtbiking 
*/
.Dirt-biking {
  background-image: url(../../assets/image/DSC08008-scaled.webp) !important;
  height: 300px;
}
/* 
Night Buggy Tours
*/
.Night-Tour {
  background-image: url(../../assets/image/WhatsApp-Image-2023-09-22-at-20.12.22.webp) !important;
  min-height: 450px;
}

.activityMainbaner.Night-Tour .forlayer span.text-light.fw-bold {
  font-size: 15px;
}
.Night-Tour .forlayer h3 {
  color: #ffffff;
  font-family: "Oswald", Sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 1px;
}
/*paint ball*/
.Night-Tour {
  background-image: url(../../assets/image/Untitled-design-80.webp) !important;
  min-height: 450px;
}
.Night-Tour.activityMainbaner .forlayer a span {
  color: #000;
  font-weight: 900;
}
/* go karting  */
.goKarting {
  background-image: url(../../assets/image/IMG_1332-scaled.webp) !important;
  min-height: 450px;
}
/* Moto-Mini */
.Moto-Mini {
  background-image: url(../../assets/image/21643958-8c0a-4a93-b048-d7e851fb3798.webp) !important;
}
/*



desert safari page



*/
.dSafari {
  background-image: url(../../assets/image/dubai-desert-safari-tours.webp) !important;
  min-height: 450px;
}
/* .dsafari morning page   */
.backAndtoltip {
  background-image: url(../../assets/image/Untitled-design-2022-01-07T130814.110.webp);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.desertMainSection {
  background-image: url(../../assets/image/Untitled-design-2022-01-07T130814.110.webp);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.forprooverlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 15%, #0000002b 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.contentaftimgpro {
  color: #fff;
  background: #1c1d1d;
  border-radius: 10px;
  padding: 15px;
}
.contentpro {
  background: #141515;
  padding: 9px;
  border-radius: 10px;
}

.afterIMGproduct h6 {
  color: #fff;
  padding: 10px;
  border-top: 2px solid #fff;
  display: inline-block;
}

.calendar-container {
  max-width: 300px;
}
.selected-date {
  margin-top: 20px;
}
.flatpickr-calendar {
  margin-top: 10px;
}
.safariSecondSEc h1 {
  color: #0dcaf0;
  font-family: "Oswald", Sans-serif;
  font-size: 63px;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 2.4px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.88);
}
.safariSecondSEc {
  color: #fff;
  font-weight: bold;
}
.safariSecondSEc label {
  display: block;
  margin-top: 15px;
}
.safariSecondSEc input {
  height: 40px;
  width: 60px;
  outline: 0;
  border: 2px solid #0dcaf0;
  padding-left: 10px;
  font-weight: bold;
}
.safariSecondSEc select {
  height: 40px;
  width: 120px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 7px;
}
/* desert eventing page  */
.eveningDesert.desertMainSection,
.eveningDesert .backAndtoltip {
  background-image: url(../../assets/image/Untitled-design-2022-01-12T142228.594-600x600.webp);
}
/* nightSafari page  */
.nightSafari.desertMainSection,
.nightSafari .backAndtoltip {
  background-image: url(../../assets/image/Untitled-design-2022-01-12T141936.800-600x600.webp);
}
/*
/
/
/
/
/
Combo page
/
/
/
/
*/
.combo {
  background-image: url(../../assets/image/Untitled-design-79.webp) !important;
}
.activityAfterbaner .tourHcontent p a {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  display: inline;
  font-family: sans-serif;
  text-transform: lowercase;
}
.activityAfterbaner .tourHcontent p a:hover {
  color: #0dcaf0;
}
/* tourjetski */
.tourjetski {
  background-image: url(../../assets/image/Untitled-design-10.webp);
}
.readcontent {
  display: none;
}
/* tourSafari */
.tourSafari {
  background-image: url(../../assets/image/Untitled-design-2022-01-12T155701.754.webp);
}
/* tourSafari */
.scubaDiving {
  background-image: url(../../assets/image/scuba-diving.webp);
}
/* tourYacht */
.tourYacht {
  background-image: url(../../assets/image/Untitled-design-2022-01-12T160306.981.webp);
}

/*



aboout page



*/
.notSure {
  background-image: url(../../assets/image/IMG_7538-2-1-scaled.webp);
  height: 400px;
  background-position: center center;
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.about {
  background-image: url(../../assets/image/DSC04463-scaled.webp);
  background-position: top;
}
/* blog  */
.blog a img {
  height: 250px;
}
.FAQs {
  background-image: url(../../assets/image/Untitled-design-84.webp);
}
.CONTACTUS {
  background-image: url(../../assets/image/Untitled-design-84.webp);
}
.contact-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}
.contact-form h2 {
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .tourHcontent p {
    font-family: "Poppins", Sans-serif;
  }
  /* @media (max-width: 1400px) { */
  .mainHeader .nav-link {
    font-weight: 500;
    padding: 0px 8px !important;
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .mainHeader .nav-link {
    display: inline;
  }
  .dropdown-toggle::after {
    position: absolute;
    right: 0px;
    pointer-events: none;
  }
}
@media (max-width: 576px) {
  .mainHeader .nav-link img {
    width: 110px;
  }
  .heroSlider .btm-slides {
    display: none;
  }
  .Night-Tour {
    min-height: 520px;
  }
}
@media (min-width: 992px) {
  .desertMainSection .modal.show .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .desertMainSection .modal {
    background-color: #000000b1;
    /* width: 500px; */
  }
  .desertMainSection .modal-body {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  li.nav-item.dropdown,
  li.nav-item.mb-2 {
    border: 1px solid #0dcaf0;
    padding: 2px 0px;
    margin: 0 6px !important;
    border-radius: 7px;
  }
}
@media (max-width: 992px) {
  .kpc span {
    font-size: 14px;
  }
  .activityMainbaner .forlayer h1,
  .explore h1 {
    font-size: 50px;
  }
  .activityAfterbaner .tourHcontent a,
  .rideforduneh2 {
    font-size: 40px;
  }
  .activityAfterbaner .tourHcontent span {
    font-size: 12px;
  }
  .tourHcontent p {
    font-size: 13px;
  }
  .explore-content img {
    height: 200px;
  }
  .rating h6 {
    font-size: 15px;
  }
  .rating h1,
  .rating span {
    font-size: 45px;
  }
  .backAndtoltip {
    height: 345px;
  }
  .glrtfirst .glrtfirstmon {
    width: 55px;
    height: 55px;
  }
  .glrtfirst .pwr {
    width: 140px;
  }
}
@media (max-width: 768px) {
  .kpc img {
    margin-bottom: 5px;
    height: 220px;
    margin-top: 15px;
  }
  .explore-content {
    margin: 8px 0;
  }
  .backAndtoltip {
    height: 445px;
  }
  #goTopButton {
    /* display: none !important; */
  }
}
@media (max-width: 470px) {
  .tourHcontent a,
  .rideforduneh2 {
    font-size: 30px;
  }
  .tourHcontent h6 {
    font-size: 15px;
    margin: 8px 0;
  }
  .tourHcontent p {
    font-size: 13px;
    margin: 0;
  }
  .heroSlider .content .images {
    height: 250px;
  }
  .goKarting {
    height: 550px;
  }
}
@media (max-width: 400px) {
  .logo img {
    width: 100px;
  }
  .lang-select {
    margin-left: 10px;
  }
  .activityAfterbaner .tourHcontent a,
  .rideforduneh2 {
    font-size: 33px;
  }
  .activityMainbaner .forlayer h1,
  .explore h1 {
    font-size: 40px;
  }
  .tourHcontent a,
  .rideforduneh2 {
    font-size: 24px;
  }
}
